body {
    /* Genel arka plan rengi, kenarlarda görünecek renk */
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    margin: 0; /* Tarayıcının varsayılan margin'lerini sıfırlıyoruz */
}

.container {
    width: 960px; 
    margin: 0 auto; 
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
header, footer {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
footer {
    border-top: 1px solid #ddd;
    border-bottom: none;
    margin-top: 20px;
    font-size: 0.8em;
}
main {
	text-align: center;
}

.ust-banner {
    display: flex; /* Flexbox konteyneri yap */
    justify-content: space-between; /* Öğeleri eşit aralıklarla dağıt */
    align-items: center; /* Öğeleri dikeyde ortala */
    padding: 10px 20px; /* İç boşluklar */
    background-color: #333; /* Banner'ın arka plan rengi */
    color: white;
    border-bottom: 1px solid #ddd;
}